body, html {
  margin: 0;
  padding: 0;
  background: rgb(240, 240, 240);
  font: 12px Helvetica;
  color: white;
}
.wrapper {
  margin: 0 auto;
  width: 90%;
  max-width: 1000px;
}
h1 {
  padding: .5em;
  background: rgb(85, 122, 157);
}
.flex {
  display: flex;
}
.options, .state{
  flex: 100px 1 1;
  background: rgba(0,0,0,.3);
  margin: .5em;
  padding: .1em 0 .5em 0;
  border-radius: 2px;
  box-shadow: inset 0 0 1px rgba(107, 107, 107, 1);
}
h2{
  text-align: center;
  background: rgb(240, 240, 240);
  color: rgb(85, 122, 157);
  padding: .2em 0;
  border: 1px solid rgba(152, 152, 152, 1);
  border-left: none;
  border-right: none;
}
pre{
  overflow: auto;
}
.content{
  padding: .5em 1em;
}
.description{
  color: black;
  line-height: 1.5em;
}
.description span {
  background: rgb(85, 122, 157);
  color: white;
  padding: .1em .4em;
  border-radius: 4px;
}
@media screen and (max-width:750px) {
  .flex {
    display: block;
  }
}
